// 
// Styles for items list
// 

.c-list {
    
    .panel-body {
        overflow-x: auto;
    }
}



.list-table {

}



.list-header {
    
}



.list-column-header {

    th {
        width: 1px;
        white-space: nowrap;
    }
}



.list-row {

    &:hover .btn-success,
    &:hover .btn-danger {
        left: 0;
    }

    td {
        width: 1px;
        white-space: nowrap;

        &.text-overflow {
            width: auto;
            max-width: 20%;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.wide {
            width: auto;
            max-width: 25%;
            white-space: normal;
            word-break: break-word;
        }
    }

}



img.list-thumbnail {
    max-width: 150px;
    max-height: 100px;

    &.thumbnail-small {
        height: 50px;
    }
}



.center-text {
    text-align: center !important;
}



.form-actions {
    transition: all .3s ease;
    opacity: 0;

    .list-row:hover & {
        opacity: 1;        
    }

    .btn-success,
    .btn-danger {
        position: relative;
        transition: all .3s ease;
        background-color: transparent;
        border-color: transparent;
        color: palette(gray,dark);
    }

    .btn-success {
        left: -10px;

        &:hover {
            background-color: palette(green,dark) !important;
            border-color: palette(green,dark);
            color: palette(white);
        }
    }

    .btn-danger {
        left: 10px;

        &:hover {
            background-color: palette(red) !important;
            border-color: palette(red);
            color: palette(white);
        }
    }
}